
<div  >
<div class="carrier">
    <h1 style="font-size: 50px;">Open positions</h1>
    <h2 style="padding-left: 40px;">Browse Our Open positions</h2>
    <div class="dropdown"  style="padding-left: 54px;">
        <button mat-button [matMenuTriggerFor]="menu"  >All Departments</button>
        
<mat-menu #menu="matMenu">
  <button mat-menu-item  *ngFor="let country of departments" >{{ country.departments }}</button>

</mat-menu>

<button mat-button  [matMenuTriggerFor]="menu1">All location</button>
<mat-menu #menu1="matMenu" >
  <button  mat-menu-item *ngFor="let city of location">{{ city.location}} </button>

</mat-menu>
    </div>






    
   

</div>
<div style="padding-right: 60px; padding-top: 50px; padding-left: 300px; margin-right: 100px;">
       
    <table class="table">
        <thead>
            <tr>
                <th>Positions</th>
                <th>Opening</th>
                <th>Experience</th>
                <th>Location</th>
                <th>More details</th>
                <th>Apply here</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of job" >
              <td  >{{t.title}}</td>
              <td>{{t.opening}}</td>
              <td >{{t.experience}} years</td>
              <td >{{t.location}}</td>
              <td  (click)="openDialog2()">More Info</td>
              <td (click)="openDialog()">  apply </td>
            </tr>
           
        </tbody>
    </table>
 
  </div>





  
  
