mat-form-field{
    width: 300px
}


@media (max-width: 768px) {
    .col-6 {
      width: 100%;
    }
  
    .signup-form {
      padding: 30px;
    }
  }
  
  @media (max-width: 576px) {
    .col-6 {
      width: 100%;
      padding: 10px;
    }
  
    .signup-form {
      padding: 20px;
    }
  }
  
  @media (max-width: 425px) {
    .col-6 {
      width: 100%;
      padding: 0px;
    }
  
    .signup-form {
      padding: 10px;
    }
  }