
<div class="header shadow-lg  rounded-lg">
  <span class="title"><a routerLink="/main"> <img src="./assets/logo-dataGateway.jpg" alt="" style="width: 80px;margin-left: 40px; border-radius: 90px; margin-bottom: 21px; "></a></span>
  <div class="user-box">
    
    <div class="button ">
      <!-- <span style="color: rgb(255, 246, 246);font-size: 19px; font-family: 'Abril Fatface', serif;margin-right: 30px;"
        > <span class="material-symbols-outlined">
          payments
          </span>Pricing -->
      <!-- </span> -->

      <button class="btn " style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(252, 247, 247); font-size: 24px;  ">
Request a Demo
      </button>
 
      <button
        type="button"
        class="btn btn-outline-secondary mx-4"
        style="
          width: 90px;
          height: 40px;
          background-color: black;
          color: rgb(238, 231, 231);
          font-weight: bold;
        "
        routerLink="/login"
      >
        Log in
      </button>
      <button
        type="button"
        class="btn btn-danger mx-2"
        style="width: 150px; height: 40px; font-weight: bold;"
        routerLink="signup"
      >
        Sign up for free
      </button>
    </div>
  </div>
</div>
